<h2>ALL SESSION SEARCHES</h2>

<ul>
{{#each searchesObj}}
  <li>Searchterm: <strong>{{this.domain}}</strong></li>
  <li>Ending: {{this.ending}}</li>
  <li>Price: {{this.price}}</li>
  <li>Host:{{this.host}}</li>
  <li>Date: {{this.SearchDate}} {{this.SearchTime}}</li>
  ______________________________________________________________
{{/each}}
</ul>

      
