<h1>{{title}}</h1>

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}
<h2>Welcome {{#if user}} {{user.email}} {{else}} Stranger {{/if}} !</h2>



{{#if user}}
<a href="/logout">Log out</a><br>

<a href="/user">My searches</a>
{{else}}
<a href="/login">Log in</a>
<br>
<a href="/signup">Sign up</a>
{{/if}}

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}

<form action="/result">
    <div class="form-group">
        <div class="search">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">www.</span>
                </div>
                <input type="text" class="form-control" name="domainSearch" placeholder="example.com"
                    aria-label="domainSearchQuery" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
    <button onclick="test()" type="submit">New Search</button>
</form> 
