<form action="/result">
    <div class="form-group">
        <div class="search">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">www.</span>
                </div>
                <input type="text" class="form-control" name="domainSearch" placeholder="{{domainName}}"
                    aria-label="domainSearchQuery" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    {{!-- <span class="input-group-text" id="basic-addon1">.com</span> --}}
                </div>
            </div>
        </div>
    </div>
    <button type="submit">Next Search</button>
</form>
<div class="results">
    <div class="card">
        {{#if bestQueryResult.availableHB}}
        <h5 class="card-header">{{domainName}} is available</h5>
        {{else}}
        <h5 class="card-header">{{domainName}} is currently not available.</h5>
        {{/if}}
        <div class="card-body">
            {{#if bestQueryResult.availableHB}}
            <p class="card-text">Domain Dealer: {{bestQueryResult.name}}</p>
            <div class="price">
                <p>{{bestQueryResult.price}} €</p>
                <a href={{bestQueryResult.redirectURL}} class="btn btn-primary">Check offer!</a>
            </div>
            {{/if}}
        </div>
    </div>
</div>

<div class="countryDomain">
    <div class="card">

        {{#if bestCountrySpecificResult.availableHB}}
        <h5 class="card-header">Your current country domainName: {{countrySpecificDomain}} is available</h5>
        {{else}}
        <h5 class="card-header">Your current country domainName: {{countrySpecificDomain}} is currently not available.
        </h5>
        {{/if}}

        <div class="card-body">
            {{#if bestCountrySpecificResult.availableHB}}
            <p class="card-text">Domain Dealer: {{bestCountrySpecificResult.name}}</p>
            <div class="price">
                <p>{{bestCountrySpecificResult.price}} €</p>
                <a href={{bestCountrySpecificResult.redirectURL}} class="btn btn-primary">Check offer!</a>
            </div>
            {{/if}}
        </div>
    </div>
</div>
<iframe src="/trends?domain={{domainName}}" frameborder="0" width="100%"></iframe>