<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    {{#each sorted}}
    <div class="allSearchesResult">
        <div class="card">
            <h5 class="card-header">Domain <em>{{this.stl}}<strong>{{this.ending}}</strong></em> is available</h5>
            <div class="card">
                <div class="card-body">
                    <div class="dealer">
                        <p class="card-text">Best Dealer:</p>
                        <h6 class="card-text">{{this.name}}</h6>
                    </div>
                    <div class="price">
                        <p class="card-text">Best Price:</p>
                        <h6 class="card-text">{{this.price}} €</h6>
                    </div>
                    <div class="link">
                        <a href={{this.redirectURL}} class="btn btn-primary" target="_blank">Check offer!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    <script>
    </script>